﻿@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Fira Sans', sans-serif;
    height: 100%;
}

app {
    position: relative;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    color: #007BFF;
}

.img-full-width {
    width: 100%;
}

#logout-btn {
    color: #007BFF;
}

.sortable-th {
    color: #007BFF;
    cursor: pointer;
}

.large-checkbox {
    width: 30px;
    height: 30px;
}

.error-text {
    margin-top: .25rem;
    margin-bottom: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.small-side-margins {
    margin-left: 3%;
    margin-right: 3%;
}

.small-side-padding {
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
}

.small-left-margin {
    margin-left: 1%;
}

.margin-top-3 {
    margin-top: 3%;
}

.entry-background {
    background-color: #F8F9FA;
    min-height: 100%;
}

.account-container {
    margin-top: 10%;
}

.main-nav-item {
    color: #007BFF !important;
}

    .main-nav-item a:hover {
        color: #0056b3 !important;
    }

#login-register-btn {
    color: #ffffff !important;
}

    #login-register-btn:hover {
        color: #0056b3 !important;
    }

.white-background {
    background-color: #FFFFFF;
    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.09);
}

.flex {
    flex: 1;
}

.margin-top-5 {
    margin-top: 5%;
}

.chart-container {
    position: relative;
    height: 60vh;
    width: 80vw;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 3px solid blue;
    padding-bottom: 5%;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.upload-container {
    margin-top: 3%;
    margin-bottom: 3%;
    line-height: 1.9;
}

.primary-background {
    background-color: #007BFF;
    border-radius: 8px;
}

.primary {
    color: #007BFF;
}

.earnings-search {
    border-color: #007BFF !important;
    margin-bottom: 1%;
    max-width: 30%;
}

.custom-file-label {
    border-color: #007BFF;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Browse";
}

.form-control:valid {
    border-color: #ced4da !important;
}

.center-text {
    text-align: center;
}

.finance-background {
    background: url(/images/finance-background.jpg);
    height: 100%;
    background-size: cover;
}

.full-background {
    background: url(/images/darkened-group.png);
    height: 450px;
    background-size: cover;
}

.line-graph-img {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 15%;
}

.bold {
    font-weight: bold;
}

.bar-chart-img {
    width: 100%;
    margin-top: 15%;
    margin-bottom: 5%;
}

.landing-li-text {
    font-size: 24px;
}

.flex {
    display: flex;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
    }

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.margin-top-8 {
    margin-top: 8%;
}

.margin-bottom-10 {
    margin-bottom: 10%;
}

.checkbook {
    border: 1px solid;
    height: 310px;
    width: 100%;
    padding-left: 40px;
    padding-right: 50px;
    background-color: #99caff;
    margin-bottom: 1%;
}

.cursive {
    font: 400 15px 'Pacifico', Helvetica, sans-serif;
}

.bank-name {
    font-family: 'Abril Fatface', cursive;
    font-size: 25px;
}

.check-label {
    float: left;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.small-right-padding {
    padding-right: 15px !important;
}

.top-margin {
    margin-top: 1%;
}

.check-span {
    display: block;
    overflow: hidden;
    padding: 0 4px 0 6px
}

.bold {
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.check-input {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    display: block;
}

.center-text {
    text-align: center;
}

.full-width {
    width: 100%;
}

.left-margin {
    margin-left: 3%;
}

.large-left-margin {
    margin-left: 50%;
}

.bottom-line {
    margin-top: 4%;
}

.underline {
    text-decoration: underline;
}

.no-padding {
    padding-right: 0px;
    padding-left: 0px;
}

.cursive-iou {
    font: 400 30px 'Pacifico', Helvetica, sans-serif;
}

.center-buttons {
    text-align: center;
    width: 100%;
}

.btn-transparent {
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
    margin-top: 212px;
    border-width: medium;
    font-weight: bold;
    padding: 10px;
}

    .btn-transparent:hover {
        background-color: #007BFF;
        border-color: #007BFF;
        color: #ffffff;
        margin-top: 212px;
        border-width: medium;
        font-weight: initial;
        padding: 10px;
    }

.iou {
    border: 1px solid;
    background-color: #99caff;
    width: 100%;
    text-align: center;
}

.iou-label {
    font-weight: bold;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }

    .sidebar {
        width: 125px;
    }
}

@media (min-width: 992px) {
    .card-margins {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .hero-margin {
        margin-left: 5%;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1690px;
    }
}
