﻿@using BlazorFinances.ClientApiShared.ViewModels
@using Blazor.Extensions.Storage
@using BlazorFinances.Client.Extensions
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@page "/categories/create"
@inject LocalStorage LocalStorage
@inject HttpClient Http

<div class="text-center">
    <h1>Create a category</h1>
</div>

<form class="needs-validation" novalidate>
    <div class="form-group row">
        <div class="col-lg-2"></div>
        <label for="email" class="col-lg-2 col-form-label">Name</label>
        <input type="text" id="name" placeholder="Name" class="col-lg-6 form-control" bind="@Category.Name" />
        <div class="col-lg-2"><button type="button" id="submit-btn" class="btn btn-primary" onclick="@SubmitCategory">Create Category</button></div>
        <RequiredValidator ControlToValidate="name" ErrorMessage="The name field is required." />
    </div>
</form>

@functions {
    public string Name { get; set; }

    CategoryViewModel Category = new CategoryViewModel();

    private async Task SubmitCategory()
    {
        if (!await ValidationJSInterop.IsFormErrorFree())
        {
            return;
        }

        var token = await LocalStorage.GetItem<string>("AuthToken");
        var httpClient = HttpClientExtensions.GetAuthHttpClient(token);
        await httpClient.PostJsonAsync<int>(ClientSettings.GetHostRoot() + "/api/categories", Category);

        UriHelper.NavigateTo("/categories");
    }
}


