﻿@using BlazorFinances.ClientApiShared.ViewModels
@using Blazor.Extensions.Storage
@using BlazorFinances.Client.Extensions
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@page "/categories/{Id}"
@inject LocalStorage LocalStorage
@inject HttpClient Http

<div class="text-center">
    <h1 class="d-none d-lg-block">Edit category: @Category.Name</h1>
    <h5 class="d-lg-none">Edit category: @Category.Name</h5>
</div>

<form class="needs-validation" novalidate>
    <div class="form-group row">
        <div class="col-lg-2"></div>
        <label for="email" class="col-lg-2 col-form-label">Name</label>
        <input type="text" name="name" placeholder="Name" class="col-lg-6 form-control" bind="@Category.Name" />
        <div class="col-lg-2"><button type="button" id="submit-btn" class="btn btn-primary" onclick="@SubmitCategory">Update</button></div>
        <RequiredValidator ControlToValidate="name" ErrorMessage="The name field is required." />
    </div>
</form>


@functions {
    [Parameter]
    string Id { get; set; }

    public CategoryViewModel Category { get; set; } = new CategoryViewModel();

    private async Task SubmitCategory()
    {
        if (!await ValidationJSInterop.IsFormErrorFree())
        {
            return;
        }

        var token = await LocalStorage.GetItem<string>("AuthToken");
        var httpClient = HttpClientExtensions.GetAuthHttpClient(token);
        await httpClient.PutJsonAsync<int>(ClientSettings.GetHostRoot() + "/api/categories", Category);

        UriHelper.NavigateTo("/categories");
    }

    protected override async Task OnInitAsync()
    {
        var token = await LocalStorage.GetItem<string>("AuthToken");
        var httpClient = HttpClientExtensions.GetAuthHttpClient(token);

        Category = await httpClient.GetJsonAsync<CategoryViewModel>(ClientSettings.GetHostRoot() + "/api/Categories/" + Id);
    }
}


