﻿@using BlazorFinances.ClientApiShared.ViewModels
@using Blazor.Extensions.Storage
@using System.Linq
@using BlazorFinances.Client.Extensions
@page "/categories"
@inject LocalStorage LocalStorage
@inject HttpClient Http

<div class="center-text">
    <h1>Categories</h1>
    <p class="lead">These will be used to organize your expenses and earnings. Click <a href="/categories/create">here</a> to create one now!</p>
</div>

@if (categories == null)
{
    <Loader />
}
else if (categories.Count == 0)
{
    <div class="center-text">
        <h2>It doesn't look like you have any categories create yet!</h2>
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td>
                        <a href="/categories/@category.Id" class="btn btn-primary">
                            <span class="fa fa-edit" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-danger" onclick="@(() => DeleteCategory(category.Id))">
                            <span class="fa fa-trash" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
List<CategoryViewModel> categories;

protected override async Task OnInitAsync()
{
    var token = await LocalStorage.GetItem<string>("AuthToken");
    var httpClient = HttpClientExtensions.GetAuthHttpClient(token);
    categories = await httpClient.GetJsonAsync<List<CategoryViewModel>>(ClientSettings.GetHostRoot() + "/api/Categories/");
}

protected async Task DeleteCategory(int id)
{
    var token = await LocalStorage.GetItem<string>("AuthToken");
    var httpClient = HttpClientExtensions.GetAuthHttpClient(token);
    await httpClient.DeleteAsync(ClientSettings.GetHostRoot() + "/api/Categories?id=" + id);
    var categoryToRemove = categories.Single(x => x.Id == id);
    categories.Remove(categoryToRemove);
}
}
