﻿@using BlazorFinances.ClientApiShared.ViewModels
@using Blazor.Extensions.Storage
@using BlazorFinances.Client.Extensions
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@page "/goals/create"
@inject LocalStorage LocalStorage
@inject HttpClient Http

<div class="text-center">
    <h1>Create a Goal</h1>
</div>

<form class="needs-validation" novalidate>
    <div class="form-group row">
        <div class="col-lg-2"></div>
        <label for="name" class="col-lg-2 col-form-label">Name</label>
        <input type="text" name="name" placeholder="Name" class="col-lg-6 form-control" bind="@Goal.Name" />
        <RequiredValidator ControlToValidate="name" ErrorMessage="The name field is required." />
    </div>

    <div class="form-group row">
        <div class="col-lg-2"></div>
        <label for="email" class="col-lg-2 col-form-label">Amount</label>
        <input type="number" name="amount" placeholder="Amount" class="col-lg-6 form-control" bind="@Goal.Amount" />
        <RequiredValidator ControlToValidate="amount" ErrorMessage="The amount field is required." />
    </div>

    @if (!Goal.IsForTotalExpenses)
    {
        <div class="form-group row">
            <div class="col-lg-2"></div>
            <label for="category" class="col-lg-2 col-form-label">Category</label>
            <select name="category" class="col-lg-6 form-control" id="select-box" bind="@SelectedCategoryId">
                @foreach (var category in Categories)
                {
                    <option value=@category.Id>@category.Name</option>
                }
            </select>
            <div class="col-lg-2"></div>
        </div>
    }

    <div class="form-group row">
        <div class="col-lg-2"></div>
        <label for="email" class="col-lg-2 col-form-label">Goal is for total expenditures</label>
        <input type="checkbox" name="IsForTotalExpenses" class="col-lg-6 form-control large-checkbox" bind="@Goal.IsForTotalExpenses" />
    </div>

    <div class="text-center"><button type="button" id="submit-btn" class="btn btn-primary" onclick="@SubmitGoal">Save</button></div>
</form>


@functions {
    GoalViewModel Goal { get; set; } = new GoalViewModel();
    List<CategoryViewModel> Categories = new List<CategoryViewModel>();

    //need to use another property to set selected category id because bind doesnt support nullable types
    public int SelectedCategoryId { get; set; }

    private async Task SubmitGoal()
    {
        if (!await ValidationJSInterop.IsFormErrorFree())
        {
            return;
        }

        Goal.CategoryId = SelectedCategoryId == 0 ? (int?)null : SelectedCategoryId;

        var token = await LocalStorage.GetItem<string>("AuthToken");
        var httpClient = HttpClientExtensions.GetAuthHttpClient(token);
        await httpClient.PostJsonAsync<int>(ClientSettings.GetHostRoot() + "/api/goals", Goal);

        UriHelper.NavigateTo("/goals");
    }

    protected override async Task OnInitAsync()
    {
        var token = await LocalStorage.GetItem<string>("AuthToken");
        var httpClient = HttpClientExtensions.GetAuthHttpClient(token);

        Categories = await httpClient.GetJsonAsync<List<CategoryViewModel>>(ClientSettings.GetHostRoot() + "/api/Categories/");

        if(Categories != null && Categories.Count > 0)
        {
            Goal.CategoryId = Categories.First().Id;
        }
    }
}


