﻿@using BlazorFinances.ClientApiShared.ViewModels
@using Blazor.Extensions.Storage
@using System.Linq
@using BlazorFinances.Client.Extensions
@page "/goals"
@inject LocalStorage LocalStorage
@inject HttpClient Http

<div class="center-text">
    <h1>Goals</h1>
    <p class="lead">These will be used to track your progress towards being more financially responsible. Click <a href="/goals/create">here</a> to create one now!</p>
</div>

@if (goals == null)
{
    <Loader />
}
else if (goals.Count == 0)
{
    <div class="center-text">
        <h2>It doesn't look like you have any goals create yet!</h2>
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="d-none d-sm-table-cell">Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var goal in goals)
            {
                <tr>
                    <td class="d-none d-sm-table-cell">@goal.Id</td>
                    <td>@goal.Name</td>
                    <td>@(goal.Category != null ? goal.Category.Name : "All Expenses")</td>
                    <td>@goal.Amount</td>
                    <td>
                        <a href="/goals/@goal.Id" class="btn btn-primary">
                            <span class="fa fa-edit" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-danger" onclick="@(() => DeleteGoal(goal.Id))">
                            <span class="fa fa-trash" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    public List<GoalViewModel> goals;

    protected override async Task OnInitAsync()
    {
        var token = await LocalStorage.GetItem<string>("AuthToken");
        var httpClient = HttpClientExtensions.GetAuthHttpClient(token);
        goals = await httpClient.GetJsonAsync<List<GoalViewModel>>(ClientSettings.GetHostRoot() + "/api/Goals/");
    }

    protected async Task DeleteGoal(int id)
    {
        var token = await LocalStorage.GetItem<string>("AuthToken");
        var httpClient = HttpClientExtensions.GetAuthHttpClient(token);
        await httpClient.DeleteAsync(ClientSettings.GetHostRoot() + "/api/Goals?id=" + id);
        var goalToRemove = goals.Single(x => x.Id == id);
        goals.Remove(goalToRemove);
    }
}
