﻿<div class="col-lg-12 d-none d-lg-block">
    @*checkbook*@
    <div class="checkbook">
        <div class="row">
            <div class="col-12 no-padding">
                <div class="row">
                    <div class="offset-10 col-2 no-padding">
                        <label class="check-label large-left-margin">No. @Id</label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 text-center full-width">
                <span class="check-span bank-name">Bank of Blazor</span>
                <span class="check-span">Cashier's Check</span>
            </div>


            <div class="col-12 no-padding">
                <div class="offset-10 col-2 no-padding">
                    <label class="check-label" for="test">Date: </label>
                    <span class="check-span"><span class="center-text check-input">@Date</span></span>
                </div>
            </div>
            <div class="col-12 no-padding">
                <div class="col-2 no-padding">
                    <span class="check-span bold">Pay to the</span>
                </div>

            </div>
            <div class="col-12 no-padding">
                <div class="row">
                    <div class="col-9 no-padding">
                        <label class="check-label" for="test">&nbsp; &nbsp; &nbsp; &nbsp;Order of</label>
                        <span class="check-span"><span class="check-input">@Payee</span></span>
                    </div>
                    <div class="col-3 no-padding small-right-padding">
                        <label class="check-label">Amount</label>
                        <span class="check-span"><span class="check-input">@Amount</span></span>
                    </div>
                </div>
            </div>
            <div class="col-12 no-padding">
                <div class="row">
                    <div class="col-11 no-padding ">
                        <span class="left-margin check-span"><span class="check-input">@TextualAmount</span></span>
                    </div>
                    <div class="col-1 underline no-padding">
                        <label class="check-label">DOLLARS</label>
                    </div>
                </div>
            </div>
            <div class="col-12 bottom-line no-padding small-right-padding">
                <div class="row">
                    <div class="col-5 no-padding">
                        <label class="check-label" for="test">&nbsp; &nbsp; Memo</label>
                        <span class="check-span"><span class="center-text check-input">@CategoryName</span></span>
                    </div>
                    <div class="offset-2 col-5 no-padding">
                        <span class="check-span"><span class="cursive center-text check-input">@Payer</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 d-lg-none">
    @*IOU slip*@
    <div class="iou">
        <h3 class="cursive-iou">I.O.U. #@Id</h3>
        <div class="row">
            <div class="col-12">
                <label class="iou-label">Date:</label> <span>@Date</span>
                <label class="iou-label">Amount:</label> <span>@Amount</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label class="iou-label">To:</label> <span>@Payee</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label class="iou-label">From:</label> <span>@Payer</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label class="iou-label">Category:</label> <span>@CategoryName</span>
            </div>
        </div>
    </div>
</div>



@functions {
[Parameter]
private string Id { get; set; }

[Parameter]
private string Date { get; set; }

[Parameter]
private string Payee { get; set; }

[Parameter]
private string Payer { get; set; }

[Parameter]
private string Amount { get; set; }

[Parameter]
private string TextualAmount { get; set; }

[Parameter]
private string CategoryName { get; set; }
}