﻿<div class="container">
    <div class="row">
        <div class="col-5">
        </div>
        <div class="col-1">
            <img src="/images/loader.gif" alt="Loading" />
        </div>
        <div class="col-6">
        </div>
    </div>
</div>