﻿@inherits BlazorLayoutComponent
@inject LocalStorage LocalStorage
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@using Blazor.Extensions.Storage
<div style="display:flex">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4" style="z-index: 1">
            <span id="logout-btn" onclick="@Logout" class="ml-md-auto">Log Out</span>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@functions{
    private async Task Logout()
    {
        await LocalStorage.RemoveItem("AuthToken");

        UriHelper.NavigateTo("/login");
    }
}