﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand d-none d-md-block" href="">BlazorFinances</a>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="home">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="earnings">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Earnings
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="expenses">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Expenses
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="categories">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Categories
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="goals">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Goals
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="analytics">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Analytics
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="group">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Group
            </NavLink>
        </li>
    </ul>
</div>

@functions {
bool collapseNavMenu = true;

void ToggleNavMenu()
{
    collapseNavMenu = !collapseNavMenu;
}
}
