﻿<div class="container white-background">
    <nav class="navbar navbar-expand-md navbar-light primary">
        <a class="navbar-brand main-nav-item" href="/">Blazor Finances</a>
        <ul class="navbar-nav mr-auto d-none d-md-flex">
            <li class="nav-item active">
                <a class="nav-link main-nav-item" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a id="login-register-btn" class="btn btn-primary primary" href="/login">Login/Register</a>
            </li>
        </ul>
    </nav>
</div>