﻿@using BlazorFinances.ClientApiShared.ViewModels
@using Blazor.Extensions.Storage
@using BlazorFinances.Client.Extensions
@using NodaTime
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@page "/expenses/create"
@inject LocalStorage LocalStorage
@inject HttpClient Http

<div class="text-center">
    <h1>Enter an expense!</h1>
</div>

<div class="form-group row">
    <div class="col-lg-2"></div>
    <label for="name" class="col-lg-2 col-form-label">Name</label>
    <input type="text" id="name" placeholder="Name" class="col-lg-6 form-control" bind="@Expense.Name" />
</div>

<div class="form-group row">
    <div class="col-lg-2"></div>
    <label for="amount" class="col-lg-2 col-form-label">Amount</label>
    <input id="amount" placeholder="Amount" class="col-lg-6 form-control" bind="@Expense.Amount" />
</div>

<div class="form-group row">
    <div class="col-lg-2"></div>
    <label for="date" class="col-lg-2 col-form-label">Date Expense Occurred</label>
    <input type="text" id="date" placeholder="Date" class="col-lg-6 form-control" onfocus=@ShowDatepicker bind="@DateDisplay" />
    <div class="col-lg-2"><DatePicker Visible=@IsDatepickerVisible Selected=@DatepickerSelected /></div>
</div>

<div class="form-group row">
    <div class="col-lg-2"></div>
    <label for="date" class="col-lg-2 col-form-label">Category</label>
    <select class="col-lg-6 form-control" id="select-box" bind="@SelectedCategoryId">
        @foreach (var category in Categories)
        {
            <option value=@category.Id>@category.Name</option>
        }
    </select>
    <div class="col-lg-2"></div>
</div>

<div class="text-center"><button type="button" id="submit-btn" class="btn btn-primary" onclick="@SubmitExpense">Enter Expense</button></div>

@functions {
    ExpenseViewModel Expense { get; set; } = new ExpenseViewModel();

    List<CategoryViewModel> Categories = new List<CategoryViewModel>();

    bool IsDatepickerVisible { get; set; }

    string DateDisplay { get; set; }

    public int SelectedCategoryId { get; set; }

    protected override async Task OnInitAsync()
    {
        var token = await LocalStorage.GetItem<string>("AuthToken");
        var httpClient = HttpClientExtensions.GetAuthHttpClient(token);

        Categories = await httpClient.GetJsonAsync<List<CategoryViewModel>>(ClientSettings.GetHostRoot() + "/api/Categories/");

        if (Categories != null && Categories.Count > 0)
        {
            Expense.CategoryId = Categories.First().Id;
        }
    }

    private async Task SubmitExpense()
    {
        if (!await ValidationJSInterop.IsFormErrorFree())
        {
            return;
        }

        Expense.CategoryId = SelectedCategoryId == 0 ? (int?)null : SelectedCategoryId;
        var token = await LocalStorage.GetItem<string>("AuthToken");
        var httpClient = HttpClientExtensions.GetAuthHttpClient(token);
        await httpClient.PostJsonAsync<int>(ClientSettings.GetHostRoot() + "/api/expenses", Expense);

        UriHelper.NavigateTo("/expenses");
    }

    void ShowDatepicker(UIFocusEventArgs e)
    {
        IsDatepickerVisible = true;
    }

    private void DatepickerSelected(LocalDate localDate)
    {
        IsDatepickerVisible = false;
        Expense.OccurenceDate = new DateTime(localDate.Year, localDate.Month, localDate.Day);
        DateDisplay = Expense.OccurenceDate.ToShortDateString();
        StateHasChanged();
    }
}


