﻿@using BlazorFinances.ClientApiShared.ViewModels
@using Blazor.Extensions.Storage
@using BlazorFinances.Client.Extensions
@using NodaTime
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@page "/earnings/{Id}"
@inject LocalStorage LocalStorage
@inject HttpClient Http


<div class="text-center">
    <h1 class="d-none d-lg-block">Edit earning: @Earning.Name</h1>
    <h5 class="d-lg-none">Edit earning: @Earning.Name</h5>
</div>

<div class="form-group row">
    <div class="col-lg-2"></div>
    <label for="name" class="col-lg-2 col-form-label">Name</label>
    <input type="text" id="name" placeholder="Name" class="col-lg-6 form-control" bind="@Earning.Name" />
</div>

<div class="form-group row">
    <div class="col-lg-2"></div>
    <label for="amount" class="col-lg-2 col-form-label">Amount</label>
    <input id="amount" placeholder="Amount" class="col-lg-6 form-control" bind="@Earning.Amount" />
</div>

<div class="form-group row">
    <div class="col-lg-2"></div>
    <label for="date" class="col-lg-2 col-form-label">Date Earning Occurred</label>
    <input type="text" id="date" placeholder="Date" class="col-lg-6 form-control" onfocus=@ShowDatepicker bind="@DateDisplay" />
    <div class="col-lg-2"><DatePicker Visible=@IsDatepickerVisible Selected=@DatepickerSelected /></div>
</div>

<div class="form-group row">
    <div class="col-lg-2"></div>
    <label for="date" class="col-lg-2 col-form-label">Category</label>
    <select class="col-lg-6 form-control" id="select-box" bind="@SelectedCategoryId">
        @foreach (var category in Categories)
        {
            <option value=@category.Id>@category.Name</option>
        }
    </select>
    <div class="col-lg-2"></div>
</div>

<div class="text-center"><button type="button" id="submit-btn" class="btn btn-primary" onclick="@SubmitEarning">Enter Earning</button></div>

@functions {
[Parameter]
string Id { get; set; }

EarningViewModel Earning { get; set; } = new EarningViewModel();

List<CategoryViewModel> Categories = new List<CategoryViewModel>();

public int SelectedCategoryId { get; set; }

bool IsDatepickerVisible { get; set; }

string DateDisplay { get; set; }

protected override async Task OnInitAsync()
{
    var token = await LocalStorage.GetItem<string>("AuthToken");
    var httpClient = HttpClientExtensions.GetAuthHttpClient(token);

    Earning = await httpClient.GetJsonAsync<EarningViewModel>(ClientSettings.GetHostRoot() + "/api/Earnings/" + Id);
    Categories = await httpClient.GetJsonAsync<List<CategoryViewModel>>(ClientSettings.GetHostRoot() + "/api/Categories/");

    DateDisplay = Earning.OccurenceDate.ToShortDateString();
}

private async Task SubmitEarning()
{
    if (!await ValidationJSInterop.IsFormErrorFree())
    {
        return;
    }

    Earning.OccurenceDate = DateTime.Parse(DateDisplay);
    Earning.CategoryId = SelectedCategoryId == 0 ? (int?)null : SelectedCategoryId;
    var token = await LocalStorage.GetItem<string>("AuthToken");
    var httpClient = HttpClientExtensions.GetAuthHttpClient(token);
    await httpClient.PutJsonAsync<int>(ClientSettings.GetHostRoot() + "/api/Earnings", Earning);

    UriHelper.NavigateTo("/earnings");
}

void ShowDatepicker(UIFocusEventArgs e)
{
    IsDatepickerVisible = true;
}

private void DatepickerSelected(LocalDate localDate)
{
    IsDatepickerVisible = false;
    Earning.OccurenceDate = new DateTime(localDate.Year, localDate.Month, localDate.Day);
    DateDisplay = Earning.OccurenceDate.ToShortDateString();
    StateHasChanged();
}
}


