﻿@using BlazorFinances.ClientApiShared.ViewModels
@using Blazor.Extensions.Storage
@using System.Linq
@using BlazorFinances.Client.Extensions
@page "/earnings"
@inject LocalStorage LocalStorage
@inject HttpClient Http

<div class="center-text">
    <h1>Earnings</h1>
    <p class="lead">These will be used to track how much money is coming in to your pocket!</p>
    <p class="lead">Click <a href="/earnings/create">HERE</a> to enter your earnings now! <span class="d-none d-lg-block">OR download a CSV of your transactions from your online banking system and import them below!</span></p>

    <div class="upload-container d-none d-lg-block">
        <div class="custom-file" style="max-width:25%" id="customFile">
            <input type="file" class="custom-file-input" onchange="@GetFileContents" id="fileUpload" accept=".csv" aria-describedby="fileHelp" />
            <label class="custom-file-label" id="fileUploadLabel" for="fileUpload">
                Select File...
            </label>
        </div>
        <input type="button" style="margin-left:3%" class="btn btn-primary" value="Import File" onclick="@SubmitFileUpload" />
    </div>
</div>

@if (vm == null || vm.Earnings == null)
{
    <Loader />
}
else if (vm.Earnings.Count == 0 && IsInitialLoad)
{
    <div class="center-text">
        <h2>It doesn't look like you have any earnings entered yet!</h2>
    </div>
}
else
{
    //this oninput custom event is needed as a workaround since bind and onchange events are not supported on the same element
    //the bind event currently replaces/overrides the onchange event
    <input type="text" class="form-control earnings-search" placeholder="Search" value="@SearchTerm" onchange="@DoSearch" oninput="(this.dispatchEvent(new CustomEvent('change', {bubbles: true})))" />

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="sortable-th" onclick="@UserSort">
                    @if (IsUserSort)
                    {
                        if (IsDescendingSort)
                        {
                            <span class="fa fa-caret-down" aria-hidden="true"></span>
                        }
                        else
                        {
                            <span class="fa fa-caret-up" aria-hidden="true"></span>
                        }
                    }
                    User
                </th>
                <th class="sortable-th" onclick="@NameSort">
                    @if (IsNameSort)
                    {
                        if (IsDescendingSort)
                        {
                            <span class="fa fa-caret-down" aria-hidden="true"></span>
                        }
                        else
                        {
                            <span class="fa fa-caret-up" aria-hidden="true"></span>
                        }
                    }
                    Name
                </th>
                <th class="sortable-th" onclick="@AmountSort">
                    @if (IsAmountSort)
                    {
                        if (IsDescendingSort)
                        {
                            <span class="fa fa-caret-down" aria-hidden="true"></span>
                        }
                        else
                        {
                            <span class="fa fa-caret-up" aria-hidden="true"></span>
                        }
                    }
                    Amount
                </th>
                <th class="sortable-th" onclick="@DateSort">
                    @if (IsDateSort)
                    {
                        if (IsDescendingSort)
                        {
                            <span class="fa fa-caret-down" aria-hidden="true"></span>
                        }
                        else
                        {
                            <span class="fa fa-caret-up" aria-hidden="true"></span>
                        }
                    }
                    Date
                </th>
                <th class="sortable-th" onclick="@CategorySort">
                    @if (IsCategorySort)
                    {
                        if (IsDescendingSort)
                        {
                            <span class="fa fa-caret-down" aria-hidden="true"></span>
                        }
                        else
                        {
                            <span class="fa fa-caret-up" aria-hidden="true"></span>
                        }
                    }
                    Category
                </th>
            </tr>
        </thead>
    </table>

    foreach (var earning in vm.Earnings)
    {
        <div class="row">
            <div class="col-lg-10 col-12">
                <Checkbook Id="@earning.Id.ToString()" Date="@earning.OccurenceDate.ToShortDateString()"
                           Payee="@earning.User.Email" Payer="@earning.Name" Amount="@earning.Amount.ToString()"
                           CategoryName="@(earning.Category != null ? earning.Category.Name : "Not Categorized")"
                           TextualAmount="@earning.TextualAmount" />
            </div>
            <div class="col-2 margin-top-8 d-none d-lg-block">
                <a href="/earnings/@earning.Id" class="btn btn-primary">
                    <span class="fa fa-edit" aria-hidden="true"></span>
                </a>
                <button class="btn btn-danger" onclick="@(() => DeleteEarning(earning.Id))">
                    <span class="fa fa-trash" aria-hidden="true"></span>
                </button>
            </div>
            <div class="d-lg-none center-buttons margin-bottom-10">
                <a href="/earnings/@earning.Id" class="btn btn-primary">
                    <span class="fa fa-edit" aria-hidden="true"></span>
                </a>
                <button class="btn btn-danger" onclick="@(() => DeleteEarning(earning.Id))">
                    <span class="fa fa-trash" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    }

    @if (vm.TotalPages > 5)
    {
        var startPage = vm.Page - 2;
        var endPage = vm.Page + 3;
        if (vm.Page - 2 < 0)
        {
            startPage = (vm.Page - 1 < 0 ? vm.Page : vm.Page - 1);
            bool oneLessEndPage = (vm.Page - 1 < 0 ? false : true);
            endPage = (vm.Page + 5 > vm.TotalPages ? vm.TotalPages : vm.Page + 5);
            if (oneLessEndPage)
            {
                endPage = endPage - 1;
            }
        }
        if (vm.Page + 3 > vm.TotalPages)
        {
            endPage = vm.TotalPages;
            startPage = (vm.TotalPages - 5 < 0 ? 0 : vm.TotalPages - 5);
        }

        <button class="btn btn-danger" onclick="@(() => GetTablePage(0))">
            <span class="fa fa-angle-double-left" aria-hidden="true"></span>
        </button>
        for (int i = startPage; i < endPage; i++)
        {
            var buttonCounter = i;
            <button id="pg-button-@i" class="btn btn-primary" type="button" onclick="@(() => GetTablePage(buttonCounter))">@i</button>
        }
        <button class="btn btn-danger" onclick="@(() => GetTablePage(NumPages-1))">
            <span class="fa fa-angle-double-right" aria-hidden="true"></span>
        </button>
    }
    else
    {
        for (int i = 0; i < NumPages; i++)
        {
            var buttonCounter = i;
            <button id="pg-button-@i" class="btn btn-primary" type="button" onclick="@(() => GetTablePage(buttonCounter))">@i</button>
        }
    }



    if (string.IsNullOrEmpty(vm.SearchTerm))
    {
        <p>Displaying @((vm.Page * 10) + 1) - @((vm.Page + 1) * 10 > vm.TotalRecords ? vm.TotalRecords : (vm.Page + 1) * 10) from @vm.TotalRecords total</p>
    }
    else
    {
        <p>Displaying @((vm.Page * 10) + 1) - @((vm.Page + 1) * 10 > vm.TotalFilteredRecords ? vm.TotalFilteredRecords : (vm.Page + 1) * 10) of @vm.TotalFilteredRecords filtered records from @vm.TotalRecords total</p>
    }
}

@functions {
EarningsIndexViewModel vm;

public bool IsInitialLoad = true;

public string FileData { get; set; }

public bool IsUserSort { get; set; }

public bool IsNameSort { get; set; }

public bool IsAmountSort { get; set; }

public bool IsDateSort { get; set; }

public bool IsCategorySort { get; set; }

public bool IsDescendingSort { get; set; }

public string SearchTerm { get; set; }

public int NumPages {
    get {
        if (vm.TotalPages > 0)
        {
            var pageCount = ((double)(vm.TotalFilteredRecords / (double)10));
            return (int)Math.Ceiling(pageCount);
        }
        else
        {
            return 0;
        }
    }
}

async Task GetFileContents()
{
    FileData = await UploadJSInterop.GetFileData("fileUpload");
    Console.WriteLine(FileData);
}

async Task SubmitFileUpload()
{
    var vm = new TransactionImportViewModel
    {
        Bank = Common.Types.BankType.UsBank,
        Base64FileContents = FileData
    };

    var token = await LocalStorage.GetItem<string>("AuthToken");
    var httpClient = HttpClientExtensions.GetAuthHttpClient(token);
    await httpClient.PostJsonAsync<object>(ClientSettings.GetHostRoot() + "/api/import/", vm);
}

protected override async Task OnInitAsync()
{
    var token = await LocalStorage.GetItem<string>("AuthToken");
    var httpClient = HttpClientExtensions.GetAuthHttpClient(token);
    vm = await GetEarningsIndexViewModel(null, null, 0);

    if (string.IsNullOrEmpty(vm.SortOrder))
    {
        IsUserSort = true;
    }

    IsInitialLoad = false;
}

protected async Task DeleteEarning(int id)
{
    var token = await LocalStorage.GetItem<string>("AuthToken");
    var httpClient = HttpClientExtensions.GetAuthHttpClient(token);
    await httpClient.DeleteAsync(ClientSettings.GetHostRoot() + "/api/Earnings?id=" + id);
    var earningToRemove = vm.Earnings.Single(x => x.Id == id);
    vm.Earnings.Remove(earningToRemove);
}

protected async Task GetTablePage(int page)
{
    vm.Page = page;
    vm = await GetEarningsIndexViewModel(vm.SortOrder, vm.SearchTerm, vm.Page);
}

protected async Task DoSearch(UIChangeEventArgs evt)
{
    SearchTerm = evt.Value.ToString();
    vm.SearchTerm = SearchTerm;

    vm = await GetEarningsIndexViewModel(vm.SortOrder, vm.SearchTerm, vm.Page);
}

protected async Task UserSort()
{
    if (IsUserSort && !IsDescendingSort)
    {
        vm.SortOrder = "user_desc";
        IsDescendingSort = true;
    }
    else
    {
        vm.SortOrder = "user";
        ClearSortSelections();
        IsUserSort = true;
        IsDescendingSort = false;
    }
    vm = await GetEarningsIndexViewModel(vm.SortOrder, vm.SearchTerm, vm.Page);
}

async Task NameSort()
{
    if (IsNameSort && !IsDescendingSort)
    {
        vm.SortOrder = "name_desc";
        IsDescendingSort = true;
    }
    else
    {
        vm.SortOrder = "name";
        ClearSortSelections();
        IsNameSort = true;
        IsDescendingSort = false;
    }
    vm = await GetEarningsIndexViewModel(vm.SortOrder, vm.SearchTerm, vm.Page);
}

async Task AmountSort()
{
    if (IsAmountSort && !IsDescendingSort)
    {
        vm.SortOrder = "amount_desc";
        IsDescendingSort = true;
    }
    else
    {
        vm.SortOrder = "amount";
        ClearSortSelections();
        IsAmountSort = true;
        IsDescendingSort = false;
    }
    vm = await GetEarningsIndexViewModel(vm.SortOrder, vm.SearchTerm, vm.Page);
}

async Task DateSort()
{
    if (IsDateSort && !IsDescendingSort)
    {
        vm.SortOrder = "date_desc";
        IsDescendingSort = true;
    }
    else
    {
        vm.SortOrder = "date";
        ClearSortSelections();
        IsDateSort = true;
        IsDescendingSort = false;
    }
    vm = await GetEarningsIndexViewModel(vm.SortOrder, vm.SearchTerm, vm.Page);
}

async Task CategorySort()
{
    if (IsCategorySort && !IsDescendingSort)
    {
        vm.SortOrder = "category_desc";
        IsDescendingSort = true;
    }
    else
    {
        vm.SortOrder = "category";
        ClearSortSelections();
        IsCategorySort = true;
        IsDescendingSort = false;
    }
    vm = await GetEarningsIndexViewModel(vm.SortOrder, vm.SearchTerm, vm.Page);
}

private async Task<EarningsIndexViewModel> GetEarningsIndexViewModel(string sortString, string searchTerm, int page)
{
    var token = await LocalStorage.GetItem<string>("AuthToken");
    var httpClient = HttpClientExtensions.GetAuthHttpClient(token);

    return await httpClient.GetJsonAsync<EarningsIndexViewModel>(ClientSettings.GetHostRoot() + "/api/Earnings?sortOrder=" + sortString + "&searchTerm=" + searchTerm + "&page=" + page);
}

private void ClearSortSelections()
{
    IsUserSort = false;
    IsNameSort = false;
    IsAmountSort = false;
    IsDateSort = false;
    IsCategorySort = false;
}
}
