﻿@page "/confirmemail"
@using Blazor.Extensions.Storage
@using BlazorFinances.Client.Extensions
@layout EntryLayout
@inject LocalStorage LocalStorage
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@using BlazorFinances.ClientApiShared.ViewModels.Account

@if (!IsEmailConfirmed.HasValue)
{
    <Loader />
}
else if (!IsEmailConfirmed.Value)
{
    <div class="container">
        <div class="row">
            <div class="col-5">
            </div>
            <div class="col-2">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <h3>We were unable to confirm your account!</h3>
                            <p class="leader">Please click the link we e-mailed to you to confirm your account</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <h3>Your email has been confirmed!</h3>
                            <p class="leader">Please click <a href="login">here</a> to log in now</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
}


@functions{
    string Token { get; set; }
    string UserId { get; set; }
    public bool? IsEmailConfirmed { get; set; }

    protected override async Task OnInitAsync()
    {
        GetQueryParameters();

        var token = await LocalStorage.GetItem<string>("AuthToken");
        var httpClient = HttpClientExtensions.GetAuthHttpClient(token);

        var vm = new ConfirmEmailViewModel
        {
            Token = Token,
            UserId = UserId
        };

        httpClient.PostJsonAsync<string>(ClientSettings.GetHostRoot() + "/api/auth/ConfirmEmail", vm);

        IsEmailConfirmed = true;
    }

    private void GetQueryParameters()
    {
        var uri = new Uri(UriHelper.GetAbsoluteUri());
        Token = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query).TryGetValue("token", out var token) ? token.First() : "";
        UserId = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query).TryGetValue("userId", out var userId) ? userId.First() : "";
        StateHasChanged();
    }
}