﻿@page "/forgotpasswordrequest"
@layout EntryLayout

<div class="container">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h3>We sent you an email!</h3>
                        <p class="lead">Please click the link in the email you received to reset your password</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>