﻿@layout EntryLayout
@page "/forgotpassword"
@inject HttpClient Http
@inject LocalStorage LocalStorage
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@using Blazor.Extensions.Storage
@using BlazorFinances.ClientApiShared.ViewModels.Account

<div class="container">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h2 class="card-title">Forgot Password</h2>
                    </div>
                    <form>
                        <div class="form-group row">
                            <div class="col-2"></div>
                            <label for="email" class="col-2 col-form-label">Email</label>
                            <input type="text" id="email" placeholder="Email" class="col-6 form-control" bind="@Email" />
                            <div class="col-2"></div>
                            <RequiredValidator ControlToValidate="email" ErrorMessage="The email field is required." />
                        </div>
                        <div class="text-center">
                            <button type="button" id="submit-btn" class="btn btn-primary" onclick="@SendPasswordReset">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>

@functions{
    public string Email { get; set; }

    private async Task SendPasswordReset()
    {
        var response = await Http.GetJsonAsync<object>(ClientSettings.GetHostRoot() + "/api/auth/forgotpassword?email=" + Email);

        UriHelper.NavigateTo("/forgotpasswordrequest");
    }
}