﻿@layout LoginRegisterLayout
@page "/login"
@inject HttpClient Http
@inject LocalStorage LocalStorage
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@using Blazor.Extensions.Storage
@using BlazorFinances.ClientApiShared.ViewModels.Account

<div class="container account-container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h2 class="card-title">Login</h2>
                    </div>
                    <form class="needs-validation" novalidate>
                        <div class="form-group row">
                            <div class="col-lg-2"></div>
                            <label for="email" class="col-lg-2 col-form-label">Email</label>
                            <input type="text" id="email" placeholder="Email" class="col-lg-6 form-control" bind="@Email" />
                            <div class="col-lg-2"></div>
                            <RequiredValidator ControlToValidate="email" ErrorMessage="The email field is required." />
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-2"></div>
                            <label for="password" class="col-lg-2 col-form-label">Password</label>
                            <input type="password" id="password" placeholder="Password" class="col-lg-6 form-control" bind="@Password" />
                            <div class="col-lg-2"></div>
                            <RequiredValidator ControlToValidate="password" ErrorMessage="The password field is required." />
                        </div>
                        @if (IsFailedLogin)
                        {
                            <div class="error-text center-text">The username or password is incorrect.</div>
                        }
                        else if (!IsEmailConfirmed)
                        {
                            <div class="error-text center-text">Please confirm your e-mail by clicking the link in the e-mail that was sent to your inbox.</div>
                        }

                        <div class="text-center">
                            <button type="button" id="submit-btn" class="btn btn-primary" onclick="@SubmitLogin">Login</button>
                            <a class="btn btn-primary" href="/forgotpassword">Forgot Password</a>
                            <p style="margin-top:2%">Don't have an account? No problem! Register <a href="/register">HERE</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

@functions{
    public string Email { get; set; }

    public string Password { get; set; }

    public string Token { get; set; }

    public bool IsFailedLogin { get; set; }

    public bool IsEmailConfirmed { get; set; } = true;

    private async Task SubmitLogin()
    {
        if (!await ValidationJSInterop.IsFormErrorFree())
        {
            return;
        }

        var vm = new TokenViewModel
        {
            Email = Email,
            Password = Password,
            Token = string.Empty
        };

        var response = await Http.PostJsonAsync<TokenViewModel>(ClientSettings.GetHostRoot() + "/api/auth/login", vm);
        if (!response.IsSuccessful)
        {
            IsFailedLogin = true;
        }
        else if (!response.IsEmailConfirmed)
        {
            IsEmailConfirmed = false;
        }
        else
        {
            await LocalStorage.SetItem<string>("AuthToken", response.Token);

            UriHelper.NavigateTo("/home");
        }
    }
}