﻿@page "/register"
@layout LoginRegisterLayout
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@using BlazorFinances.ClientApiShared.ViewModels.Account


<div class="container account-container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h2 class="card-title">Register</h2>
                    </div>
                    <form class="needs-validation" novalidate>
                        <div class="form-group row">
                            <div class="col-lg-1"></div>
                            <label for="email" class="col-lg-4 col-form-label">Email</label>
                            <input type="text" id="email" placeholder="Email" class="col-lg-6 form-control" bind="@Email" />
                            <div class="col-lg-1"></div>
                            <RequiredValidator ControlToValidate="email" ErrorMessage="The email field is required." />
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-1"></div>
                            <label for="password" class="col-lg-4 col-form-label">Password</label>
                            <input type="password" id="password" placeholder="Password" class="col-lg-6 form-control" bind="@Password" />
                            <div class="col-lg-1"></div>
                            <RequiredValidator ControlToValidate="password" ErrorMessage="The password field is required." />
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-1"></div>
                            <label for="confirm-password" class="col-lg-4 col-form-label">Confirm Password</label>
                            <input type="password" id="confirm-password" placeholder="Confirm Password" class="col-lg-6 form-control" bind="@ConfirmPassword" />
                            <div class="col-lg-1"></div>
                            <CompareValidator ControlToValidate="confirm-password" ControlToCompare="password" ErrorMessage="The confirm password field must match the password." />
                        </div>

                        <div class="text-center">
                            <button type="button" id="submit-btn" class="btn btn-primary" onclick="@SubmitRegister">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

@functions{
    public string Email { get; set; }

    public string Password { get; set; }

    public string ConfirmPassword { get; set; }

    private async Task SubmitRegister()
    {
        if (!await ValidationJSInterop.IsFormErrorFree())
        {
            return;
        }

        var vm = new TokenViewModel
        {
            Email = Email,
            Password = Password
        };

        await Http.PostJsonAsync<object>(ClientSettings.GetHostRoot() + "/api/auth/register", vm);

        UriHelper.NavigateTo("/confirmemailrequest");
    }
}