﻿@page "/resetpassword"
@layout EntryLayout
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@inject LocalStorage LocalStorage
@using BlazorFinances.ClientApiShared.ViewModels.Account
@using Blazor.Extensions.Storage
@using BlazorFinances.Client.Extensions

<div class="container">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h2 class="card-title">Reset Your Password</h2>
                    </div>

                    <form class="needs-validation" novalidate>
                        <div class="form-group row">
                            <div class="col-1"></div>
                            <label for="password" class="col-4 col-form-label">Password</label>
                            <input type="password" id="password" placeholder="Password" class="col-6 form-control" bind="@Password" />
                            <div class="col-1"></div>
                            <RequiredValidator ControlToValidate="password" ErrorMessage="The password field is required." />
                        </div>

                        <div class="form-group row">
                            <div class="col-1"></div>
                            <label for="confirm-password" class="col-4 col-form-label">Confirm Password</label>
                            <input type="password" id="confirm-password" placeholder="Confirm Password" class="col-6 form-control" bind="@ConfirmPassword" />
                            <div class="col-1"></div>
                            <CompareValidator ControlToValidate="confirm-password" ControlToCompare="password" ErrorMessage="The confirm password field must match the password." />
                        </div>

                        <div class="text-center">
                            <button type="button" id="submit-btn" class="btn btn-primary" onclick="@SubmitPasswordReset">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>


@functions{
    string Token { get; set; }
    string UserId { get; set; }
    string Password { get; set; }
    string ConfirmPassword { get; set; }

    protected override void OnInit()
    {
        GetQueryParameters();
    }

    protected async Task SubmitPasswordReset()
    {
        var vm = new PasswordResetViewModel
        {
            Token = Token,
            UserId = UserId,
            Password = Password
        };

        var token = await LocalStorage.GetItem<string>("AuthToken");
        var httpClient = HttpClientExtensions.GetAuthHttpClient(token);
        await httpClient.PostJsonAsync<object>(ClientSettings.GetHostRoot() + "/api/auth/ResetPassword", vm);

        UriHelper.NavigateTo("/resetpasswordsuccess");
    }

    private void GetQueryParameters()
    {
        var uri = new Uri(UriHelper.GetAbsoluteUri());
        Token = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query).TryGetValue("token", out var token) ? token.First() : "";
        UserId = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query).TryGetValue("userId", out var userId) ? userId.First() : "";
        StateHasChanged();
    }
}