﻿@page "/resetpasswordsuccess"
@layout EntryLayout

<div class="container">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h3>Your password has been reset!</h3>
                        <p class="lead">Please click <a href="/login">here</a> to log in now</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>