﻿@layout EntryLayout
@page "/"

<div class="row">
    <div class="small-side-padding d-none d-lg-block">
        <div class="col-md-12 full-background">
            <div class="center-buttons">
                <a href="/login" class="btn btn-transparent">Login/Register</a>
            </div>
        </div>
    </div>
    
    <div class="col-xs-12 d-lg-none">
        <img class="img-full-width hero-margin" src="/images/finance-hero.jpg" alt="">
    </div>
</div>

<div style="margin-top:3%;">
    <div class="row">
        <div class="col-lg-3 offset-lg-1 card">
            <div class="small-left-margin">
                <i class="fa fa-dollar fa-5x margin-top-3"></i>
                <h2 class="margin-top-5">Track your money</h2>
                <p class="margin-top-5">With Blazor Finances, you'll be able to categorize your earnings and expenses in order to clearly see where your money is going.</p>
            </div>
        </div>
        <div class="col-lg-3 card card-margins">
            <div class="small-left-margin">
                <i class="fa fa-bar-chart fa-5x margin-top-3"></i>
                <h2 class="margin-top-5">Intelligent Analytics</h2>
                <p class="margin-top-5">There are a variety of tools at your fingertips to help you keep your finances in tip top shape.</p>
            </div>

        </div>
        <div class="col-lg-3 card">
            <div class="small-left-margin">
                <i class="fa fa-battery-full fa-5x margin-top-3"></i>
                <h2 class="margin-top-5">Supercharge your finances</h2>
                <p class="margin-top-5">Blazor Finances allows you to create financial goals and track your progress toward them. Keep yourself honest and watch your bank account grow.</p>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 3%;padding-bottom: 4%;">
    <div class="row small-side-margins">
        <div class="col-lg-4 primary-background">
            <img src="/images/earnings-expenses.png" class="bar-chart-img" />
        </div>
        <div class="col-lg-6" style="margin-top: 1%;">
            <h2 class="bold">Compare your expenses and earnings</h2>
            <p class="bold">Make use of an intuitive, easy-to-use interface which will allow you to enter your expenses and earnings then visualize the data to help understand your current financial situation.</p>
            <ul class="fa-ul">
                <li class="landing-li-text"><i class="fa-li fa fa-check-square-o primary"></i>Import data from your bank.</li>
                <li class="landing-li-text"><i class="fa-li fa fa-check-square-o primary"></i>Easily stay in tune with your finances.</li>
                <li class="landing-li-text"><i class="fa-li fa fa-check-square-o primary"></i>Stay fiscally responsible.</li>
            </ul>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row small-side-margins d-none d-lg-flex">
        <div class="col-lg-6" style="margin-top: 4%;">
            <h2 class="bold">Track progress toward meeting goals</h2>
            <p class="bold">Create financial goals at the click of a button then use our analytics engine to track your progress towards meeting these goals.</p>
            <ul class="fa-ul">
                <li class="landing-li-text"><i class="fa-li fa fa-check-square-o primary"></i>Beautiful graphs to help understand data.</li>
                <li class="landing-li-text"><i class="fa-li fa fa-check-square-o primary"></i>Easily create and manage your goals.</li>
                <li class="landing-li-text"><i class="fa-li fa fa-check-square-o primary"></i>Ensure you're staying on track.</li>
            </ul>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-4 primary-background">
            <img src="/images/expenses-line.png" class="line-graph-img" />
        </div>
    </div>
    <div class="row small-side-margins d-lg-none">
        <div class="col-lg-4 primary-background">
            <img src="/images/expenses-line.png" class="line-graph-img" />
        </div>
        <div class="col-lg-6" style="margin-top: 4%;">
            <h2 class="bold">Track progress toward meeting goals</h2>
            <p class="bold">Create financial goals at the click of a button then use our analytics engine to track your progress towards meeting these goals.</p>
            <ul class="fa-ul">
                <li class="landing-li-text"><i class="fa-li fa fa-check-square-o primary"></i>Beautiful graphs to help understand data.</li>
                <li class="landing-li-text"><i class="fa-li fa fa-check-square-o primary"></i>Easily create and manage your goals.</li>
                <li class="landing-li-text"><i class="fa-li fa fa-check-square-o primary"></i>Ensure you're staying on track.</li>
            </ul>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
