﻿@page "/home"
@using ChartJs.Blazor.ChartJS.BarChart
@using ChartJs.Blazor.Charts
@using Blazor.Extensions.Storage
@using System.Linq
@using BlazorFinances.ClientApiShared.ViewModels
@using BlazorFinances.Client.Extensions
@inject LocalStorage LocalStorage
@inject HttpClient Http
@using ChartJs.Blazor.ChartJS.BarChart.Dataset;

<div class="center-text" style="margin-bottom:4%">
    <h2>Your Financial Overview</h2>
</div>

@if (BarChartConfig == null)
{
    <Loader />
}
else
{
    <div class="row">
        <div class="col-xs-12 chart-container">
            <ChartJsBarChart ref="bubbleChartJs" Config="@BarChartConfig" Width="2000" Height="1000" />
        </div>
    </div>
}

@functions{
    public BarChartViewModel BarChartVm { get; set; }
    public BarChartConfig BarChartConfig { get; set; }
    ChartJsBarChart bubbleChartJs;

    protected override async Task OnInitAsync()
    {
        var token = await LocalStorage.GetItem<string>("AuthToken");
        var httpClient = HttpClientExtensions.GetAuthHttpClient(token);
        BarChartVm = await httpClient.GetJsonAsync<BarChartViewModel>(ClientSettings.GetHostRoot() + "/api/Analytics/ExpensesEarningsBarChart");

        BarChartConfig = new BarChartConfig
        {
            CanvasId = "earningsAndExpenses",
            Options = new BarChartOptions
            {
                Text = "Earnings and Expenses",
                Display = true,
                Responsive = true
            },
            Data = new BarChartData
            {
                Labels = BarChartVm.MonthsLabels,
                Datasets = new List<BaseBarChartDataset>
                    {
                        new BarChartDataset
                        {
                            BackgroundColor = "#007bff",
                            Label = "Earnings",
                            Data = BarChartVm.EarningData,
                            BorderWidth = 1,
                            BorderColor = "#0829FF",
                            HoverBackgroundColor = "#98F095",
                            HoverBorderColor = "#43F049",
                            BorderSkipped = null
                        },
                        new BarChartDataset
                        {
                            BackgroundColor = "#FF0F27",
                            Label = "Expenses",
                            Data = BarChartVm.ExpenseData,
                            BorderWidth = 1,
                            HoverBackgroundColor = "#98F095",
                            HoverBorderColor = "#43F049",
                            BorderColor = "#A30A19",
                            BorderSkipped = null,
                        }
                    }
            }
        };
    }

    protected override void OnAfterRender()
    {
        bubbleChartJs.Reload();
    }
}