﻿@page "/analytics"
@using ChartJs.Blazor.ChartJS.BarChart
@using ChartJs.Blazor.ChartJS.PieChart
@using ChartJs.Blazor.ChartJS.LineChart
@using ChartJs.Blazor.ChartJS.Common
@using ChartJs.Blazor.Charts
@using Blazor.Extensions.Storage
@using System.Linq
@using BlazorFinances.ClientApiShared.ViewModels
@using BlazorFinances.Client.Extensions
@using ChartJs.Blazor.ChartJS.Common.Legends
@using ChartJs.Blazor.ChartJS.BarChart.Dataset
@using BlazorFinances.Client.Helpers
@inject LocalStorage LocalStorage
@inject HttpClient Http


<div class="center-text" style="margin-bottom:4%">
    <h2>Analytics of your financial well being</h2>
</div>

@if (BarChartConfig == null || LineChartConfig == null || PieChartConfig == null)
{
    <Loader />
}
else
{
    @if (Goals != null)
    {
        <div class="form-group row" style="margin-top:2%;">
            <div class="col-lg-12">
                <div class="text-center">
                    <h5>Goal Expenditures vs Actual Expenditures</h5>
                </div>
            </div>
            <div class="col-lg-3"></div>
            <label for="date" class="col-lg-1 col-form-label">Select A Goal:</label>
            <select class="col-lg-5 form-control" id="select-box" onchange=@UpdateLineChartForGoal>
                @foreach (var goal in Goals)
                {
                    <option value=@goal.Id>@goal.Name (@(goal.Category != null ? "Category: " + goal.Category.Name : "All Expense Categories"))</option>
                }
            </select>
            <div class="col-lg-3"></div>
        </div>
        <div class="row" style="margin-bottom:4%;">
            <div class="col-lg-12">
                <ChartJsLineChart ref="lineChartJs" Config="@LineChartConfig" Width="600" Height="300" />
            </div>
        </div>
    }

    <div class="row" style="margin-bottom: 5%;">
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <div class="text-center">
                <h5>Earnings vs Expenses</h5>
            </div>
            <ChartJsBarChart ref="bubbleChartJs" Config="@BarChartConfig" Width="600" Height="300" />
        </div>
        <div class="col-lg-5">
            <div class="text-center">
                <h5>Expenses By Category</h5>
            </div>
            <ChartJsPieChart ref="pieChartJs" Config="@PieChartConfig" Width="600" Height="300" />
        </div>
        <div class="col-lg-1"></div>
    </div>
}

@functions{
    public BarChartViewModel BarChartVm { get; set; }
    public PieChartViewModel PieChartVm { get; set; }
    public GoalLineChartViewModel LineChartVm { get; set; }
    public List<GoalViewModel> Goals { get; set; }

    public BarChartConfig BarChartConfig { get; set; }
    public PieChartConfig PieChartConfig { get; set; }
    public LineChartConfig LineChartConfig { get; set; }

    ChartJsBarChart bubbleChartJs;
    ChartJsPieChart pieChartJs;
    ChartJsLineChart lineChartJs;

    protected override async Task OnInitAsync()
    {
        var token = await LocalStorage.GetItem<string>("AuthToken");
        var httpClient = HttpClientExtensions.GetAuthHttpClient(token);

        Goals = await httpClient.GetJsonAsync<List<GoalViewModel>>(ClientSettings.GetHostRoot() + "/api/Goals/");
        BarChartVm = await httpClient.GetJsonAsync<BarChartViewModel>(ClientSettings.GetHostRoot() + "/api/Analytics/ExpensesEarningsBarChart");
        PieChartVm = await httpClient.GetJsonAsync<PieChartViewModel>(ClientSettings.GetHostRoot() + "/api/Analytics/ExpensesPieChart");
        LineChartVm = await httpClient.GetJsonAsync<GoalLineChartViewModel>(ClientSettings.GetHostRoot() + "/api/Analytics/ExpenseGoalLineChart");

        BarChartConfig = ChartJsHelper.BuildBarChartConfig(BarChartVm);

        PieChartConfig = ChartJsHelper.BuildPieChartConfig(PieChartVm);

        LineChartConfig = ChartJsHelper.BuildLineChartConfig(LineChartVm);
    }

    protected override void OnAfterRender()
    {
        bubbleChartJs.Reload();
        pieChartJs.Reload();
        lineChartJs.Reload();
    }

    async Task UpdateLineChartForGoal(UIChangeEventArgs e)
    {
        var selectedValue = e.Value.ToString();

        var token = await LocalStorage.GetItem<string>("AuthToken");
        var httpClient = HttpClientExtensions.GetAuthHttpClient(token);
        var updatedLineChartVm = await httpClient.GetJsonAsync<GoalLineChartViewModel>(ClientSettings.GetHostRoot() + "/api/Analytics/ExpenseGoalLineChart?goalId=" + selectedValue);

        LineChartConfig = ChartJsHelper.BuildLineChartConfig(updatedLineChartVm);
    }
}