﻿@using BlazorFinances.ClientApiShared.ViewModels
@using Blazor.Extensions.Storage
@using BlazorFinances.Client.Extensions
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@page "/groups/create"
@inject LocalStorage LocalStorage
@inject HttpClient Http

<div class="text-center">
    <h1>Create your financial group</h1>
</div>

<form class="needs-validate" novalidate>
    <div class="form-group row">
        <div class="col-lg-2"></div>
        <label for="email" class="col-lg-2 col-form-label">Name</label>
        <input type="text" id="name" placeholder="Name" class="col-lg-6 form-control" bind="@Group.Name" />
        <div class="col-lg-2"><button type="button" id="submit-btn" class="btn btn-primary" onclick="@SubmitUserGroup">Create Group</button></div>
        <RequiredValidator ControlToValidate="name" ErrorMessage="The name field is required." />
    </div>
</form>

@functions {
    UserGroupViewModel Group = new UserGroupViewModel();

    private async Task SubmitUserGroup()
    {
        if (!await ValidationJSInterop.IsFormErrorFree())
        {
            return;
        }

        var token = await LocalStorage.GetItem<string>("AuthToken");
        var httpClient = HttpClientExtensions.GetAuthHttpClient(token);
        await httpClient.PostJsonAsync<int>(ClientSettings.GetHostRoot() + "/api/usergroups", Group);

        UriHelper.NavigateTo("/group");
    }
}


