﻿@using BlazorFinances.ClientApiShared.ViewModels
@using Blazor.Extensions.Storage
@using BlazorFinances.Client.Extensions
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@page "/group/{Id}"
@inject LocalStorage LocalStorage
@inject HttpClient Http

@*TODO figure out why initialization isnt working- shouldnt have to check EditVm.Properties*@
@if (Group != null && EditVm != null && EditVm.NewUserEmail != null && EditVm.NewGroupName != null && Group.Name != null)
{
    <div class="text-center">
        <h1>Edit your financial group</h1>
    </div>


    <div class="form-group row">
        <div class="col-lg-2"></div>
        <label for="email" class="col-lg-2 col-form-label">Group Name</label>
        <input type="text" name="name" placeholder="Name" class="col-lg-6 form-control" bind="@EditVm.NewGroupName" />
    </div>

    <div class="form-group row">
        <div class="col-lg-2"></div>
        <label for="email" class="col-lg-2 col-form-label">New Member Email</label>
        <input type="text" name="name" placeholder="Name" class="col-lg-6 form-control" bind="@EditVm.NewUserEmail" />
        <div class="col-lg-2"><button class="btn btn-default" onclick="@SubmitUserGroup">Update</button></div>
    </div>

    <div class="row">
        <table class=" col-xs-10 table table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Group.Users)
                {
                    <tr>
                        <td>@user.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@functions {
    [Parameter]
    string Id { get; set; }

    public UserGroupViewModel Group { get; set; } = new UserGroupViewModel();

    public UserGroupEditViewModel EditVm { get; set; } = new UserGroupEditViewModel();

    private async Task SubmitUserGroup()
    {
        var token = await LocalStorage.GetItem<string>("AuthToken");
        var httpClient = HttpClientExtensions.GetAuthHttpClient(token);
        await httpClient.PutJsonAsync<int>(ClientSettings.GetHostRoot() + "/api/UserGroups/", EditVm);

        UriHelper.NavigateTo("/group");
    }

    protected override async Task OnInitAsync()
    {
        var token = await LocalStorage.GetItem<string>("AuthToken");
        var httpClient = HttpClientExtensions.GetAuthHttpClient(token);

        Group = await httpClient.GetJsonAsync<UserGroupViewModel>(ClientSettings.GetHostRoot() + "/api/UserGroups/");

        EditVm = new UserGroupEditViewModel
        {
            NewGroupName = Group.Name,
            NewUserEmail = string.Empty
        };

    }
}


