﻿@using BlazorFinances.ClientApiShared.ViewModels
@using Blazor.Extensions.Storage
@using System.Linq
@using BlazorFinances.Client.Extensions
@page "/group"
@inject LocalStorage LocalStorage
@inject HttpClient Http

<h1>My Financial Group</h1>
@if (Group == null)
{
    <Loader />
}
else if (Group.Id == 0)
{
    <p class="lead">It doesn't look like you've created a financial group yet! Click <a href="/groups/create">here</a> to create one now!</p>
}
else if (Group.Users.Count == 0)
{
    <p class="lead">It doesn't look like you have any users in your group yet! Click <a href="/groups/@Group.Id">here</a> to invite someone else now!</p>
}
else
{
    <h4>@Group.Name</h4>
    <p class="lead">
        Invite others to your track your finances together by clicking <a href="/group/@Group.Id">here</a>.
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Group.Users)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>
                        <button class="btn btn-danger" onclick="@(() => DeleteGroupUser(user.Email))">
                            <span class="fa fa-trash" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
public UserGroupViewModel Group;

protected override async Task OnInitAsync()
{
    var token = await LocalStorage.GetItem<string>("AuthToken");
    var httpClient = HttpClientExtensions.GetAuthHttpClient(token);
    Group = await httpClient.GetJsonAsync<UserGroupViewModel>(ClientSettings.GetHostRoot() + "/api/UserGroups");
    Console.WriteLine(Group.Name);
}

protected async Task DeleteGroupUser(string email)
{
    var token = await LocalStorage.GetItem<string>("AuthToken");
    var httpClient = HttpClientExtensions.GetAuthHttpClient(token);
    await httpClient.DeleteAsync(ClientSettings.GetHostRoot() + "/api/UserGroups?email=" + email);
    var userToRemove = Group.Users.Single(x => x.Email == email);
    Group.Users.Remove(userToRemove);
}
}
